@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
*{
    font-family: 'Lato', sans-serif;
}
p{
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 1px;
}
.small-text {
    font-size: 14px;
}

